.about-wrapper {
    p {
        width: 100%;
        top: 3rem;
        @include media-breakpoint-up(md) {
            width: 80%;
        }
        @include media-breakpoint-up(lg){
            width: 70%;
        }
    }
    .about-image {
        height: 300px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }  
}
.subscribe-wrapper {
    .subscribe-bottom {
        position: absolute;
        top: 0;
         width: 100%;
         background-color: #fff;
         height: 100%;
         opacity: 0.8;
     }
     h3,p {
        z-index: 1;
    }

}
