.cart-wrapper {
    width: 100%;
    margin:auto;
    border: 1px solid #dee2e6 ;
    border-radius: 0.25rem;
    .remove-all {
        border-radius: 0.25rem;
    }
    .btn {
        font-style: normal;
    }
}